# Git
.git
.gitignore

# Node
node_modules

# Docker & Readme
Dockerfile
docker-compose.yml
*.md

# Local environment & IDE
.env
.env.example
.idea
.vscode

# Framework specific cache/storage (managed by volumes or inside container)
/storage
/bootstrap/cache
/public/build
/vendor
